*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #6c5ce7;
    --secondary-color: #fd9644;
    --secondary-m: #c98c08;
}

body {
    font-family: "Baloo 2", cursive;
    display: flex;
}

li {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

aside#side_nav {
    display: flex;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
}

div.side_nav_content {
    height: 100%ui786ytrfdx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    width: calc(3vw + 3vh);
}

div.side_nav_logo img {
    width: calc(3vw + 3vh);
    object-fit: cover;
}

div.side_nav_social_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div.side_nav_social_icons a i {
    font-size: calc(1rem + 0.66667vw);
    color: white;
    padding-bottom: calc(2rem + 0.66667vw);
    transition: color 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}

div.side_nav_social_icons a i:hover,
div.side_nav_social_icons a i:active {
    color: var(--secondary-color);
}

main {
    flex: 1;
}

header#header {
    background-color: var(--secondary-color);
    height: calc(3vw + 3vh);
    z-index: 2;
}

nav#header-main-nav {
    height: 100%;
}

ul.header-main-nav-links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

ul.header-main-nav-links li {
    padding-right: 3vw;
}

ul.header-main-nav-links a {
    position: relative;
    font-size: calc(1rem + 0.66667vw);
    padding: 0.2rem 0.6rem;
}

ul.header-main-nav-links a:link::after,
ul.header-main-nav-links a:visited::after,
ul.header-main-nav-links a:link::before,
ul.header-main-nav-links a:visited::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header-main-nav-links a:link::before {
    top: 0;
    transform-origin: left;
}

ul.header-main-nav-links a:link::after {
    bottom: 0;
    transform-origin: right;
}

ul.header-main-nav-links a:hover::after,
ul.header-main-nav-links a:active::after,
ul.header-main-nav-links a:hover::before,
ul.header-main-nav-links a:active::before {
    transform: scaleX(1);
}

section#showcase {
    background-image: url("../img/full-bg-07.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showcase-container {
    height: calc(6rem + 18vmax);
    padding: calc(1rem + 3vw);
    background-color: var(--secondary-m);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero {
    0% {
        transform: translateX(100rem) rotate(360deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

h1.showcase-content-title {
    font-size: calc(2rem + 3vw);
    color: white;
}

p.content-p {
    font-family: "indie Flower", cursive;
    font-size: calc(1.5rem + 1vw);
    color: white;
}

#showcase a {
    width: 10rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    padding: 0.4rem 0.7rem;
    z-index: 1;
}

#showcase a:link::after,
#showcase a:visited::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: -1;
}


/* #showcase a:link::before {
    left: 0;
} */

#showcase a:hover::after,
#showcase a:active::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* @media screen and (max-width: 900px) {
    #showcase {
        background-position: 100%;
        background-size: cover;
    }
} */

@media screen and (max-width: 610px) {
    #header {
        position: absolute;
    }
    nav#header-main-nav {
        height: 100vh;
        width: 30rem;
        position: fixed;
        top: 0;
        right: -30rem;
        background-color: var(--secondary-color);
        text-align: center;
    }
    .clicked {
        left: 55%;
    }
    .header-main-nav-hamburger {
        width: 5rem;
        height: 5rem;
        background-color: var(--secondary-color);
        position: fixed;
        top: 1rem;
        right: 3rem;
        border-radius: 50%;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .line {
        background-color: white;
        width: 100%;
        height: 0.3rem;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }
    .header-main-nav-links {
        width: 30rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .header-main-nav-links li {
        height: 100%;
        margin-bottom: 2vh;
        align-self: flex-start;
        justify-self: self-start;
        font-weight: 600;
    }
    .header-main-nav-links li:first-child {
        margin-top: 20px;
    }
    .clicked .line1 {
        transform: rotateZ(315deg) translate(-0.7rem, 0.5rem);
    }
    .clicked .line3 {
        transform: rotateZ(405deg) translate(-0.7rem, -0.5rem);
    }
    .clicked .line2 {
        opacity: 0;
    }
    ul.header-main-nav-links li {
        opacity: 0;
    }
    .clicked ul.header-main-nav-links li:first-child {
        transition: all 0.5s ease-in-out 0.2s;
        opacity: 1;
    }
    .clicked ul.header-main-nav-links li:nth-child(2) {
        transition: all 0.6s ease-in-out 0.3s;
    }
    .clicked ul.header-main-nav-links li:nth-child(3) {
        transition: all 0.6s ease-in-out 0.4s;
    }
    .clicked ul.header-main-nav-links li:nth-child(4) {
        transition: all 0.6s ease-in-out 0.5s;
    }
    .clicked ul.header-main-nav-links li:nth-child(5) {
        transition: all 0.6s ease-in-out 0.6s;
    }
    .clicked ul.header-main-nav-links li:nth-child(6) {
        transition: all 0.6s ease-in-out 0.7s;
    }
    ul.header-main-nav-links li.fade {
        opacity: 1;
    }
}